In [12]:
import pandas as pd
import sys
sys.path.append('../word-embeddings-benchmark')

from web.datasets.similarity import fetch_MTurk, fetch_WS353, fetch_RG65, fetch_RW

In [4]:
def read_txt(file):
    return pd.read_csv(file, header=None, sep=" ")

In [5]:
#MTurk
mturk = read_txt('../Data/Similarity/EN-TRUK.txt')

In [6]:
mturk.head()

           0           1         2
0  episcopal      russia  2.750000
1      water    shortage  2.714286
2      horse     wedding  2.266667
3      plays      losses  3.200000
4   classics  advertiser  2.250000

## List of similarity datasets to be evaluated:
MTurk, MEN, WS353, Rubenstein and Goodenough, Rare Words, SimLex999, TR9856

In [15]:
#Just downloading the files to compare and ensure I have the right datasets


# dataset = fetch_MTurk()  #Downloaded. Yet to be understood
# dataset = fetch_MEN()   #Not Downloaded
# dataset = fetch_WS353("relatedness") #Downloaded. Difference between relatedness and attributional
# dataset = fetch_RG65() #Downloaded : Evaluate
# dataset = fetch_RW() #Downloaded : Evaluate

In [16]:
dataset

{'X': array([['squishing', 'squirt'],
        ['undated', 'undatable'],
        ['circumvents', 'beat'],
        ...,
        ['irredeemable', 'wicked'],
        ['irredeemable', 'inconvertible'],
        ['snickering', 'laugh']], dtype=object),
 'y': array([5.88, 5.83, 5.33, ..., 6.43, 6.57, 7.71]),
 'sd': nan}